.mycard {
    max-width: 13rem;
    max-height: 13rem;
    border-radius: 15px;
    font-size: 1.5em;
    background-color: #1f1f1f !important ;
}

//Para o botao

// Animate the size, inside
.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

$colors: (
    fill: #e05762
);

@each $button, $color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 45deg)};
    }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
#infoartista {
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}

// Basic #infoartista styles
#infoartista {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.imgevento {
    width: 296px !important;
    height: 384px !important;
}

.imgeventocartaz {
    width: 90%;
    height: 140px;
    transition: all 0.7s;
}

.imgeventocartaz:hover {
    transform: scale(1.02);
}

.flipbutton {
    width: 160px;
    height: 48px;
    perspective: 500px;
}
.flipbutton a {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.3s;
    cursor: pointer;
}
.flipbutton a .front,
.flipbutton a .back {
    margin: 0;
    width: 160px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    letter-spacing: 0.4em;
}
.flipbutton a .front {
    background-color: #222;
    color: #fff;
    transform: rotateY(0) translateZ(24px);
}
.flipbutton a .back {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(34, 34, 34, 0);
    transform: rotateX(90deg) translateZ(24px);
    overflow: hidden;
}
.flipbutton a .back:after {
    content: "";
    position: absolute;
    top: -32%;
    left: -10%;
    width: 120%;
    height: 50%;
    background: #222;
    transform: rotate(8deg);
    transition: all 0.5s ease;
    transition-delay: 0.15s;
}
.flipbutton a:hover {
    transform: translateZ(-24px) rotateX(-90deg);
}
.flipbutton a:hover .front {
    background: #000;
    transition: all 0.8s ease;
}
.flipbutton a:hover .back {
    color: #222;
    transition: color 0.4s linear;
    background: #cce6f4;
}
.flipbutton a:hover .back:after {
    transform: rotate(6deg) translate(100px, -18px);
}

.notfadetextdeteevento {
    //opacity: 0;
    color: black;
    transition: all 0.5s ease;
}

span.fadetextdetevento {
    //opacity: 1;
    color: rgb(32, 98, 151);
}

.txteventoaprov {
    text-align: center;
    transition: all 0.5s ease;
    animation: color-change 6s ease infinite;
}

@keyframes color-change {
    0% {
        color: #abff4f;
    }
    10% {
        color: #08bdbd;
    }
    20% {
        color: #f21b3f;
    }
    30% {
        color: #ff9914;
    }
    40% {
        color: #0c1b33;
    }
    50% {
        color: #403f4c;
    }
    60% {
        color: #153b50;
    }
    70% {
        color: #f26419;
    }
    80% {
        color: #7a306c;
    }
    90% {
        color: #540b0e;
    }
    100% {
        color: #515151;
    }
}

@media screen and (min-width: 900px) {
    .imgeventocartaz {
        width: 90%;
        height: 400px;
    }

    .mycard {
        max-width: 16rem;
        border-radius: 15px;
        font-size: 2em;
        background-color: #1f1f1f !important ;
        max-height: 384px !important;
    }

    .txtartista {
        font-size: 0.2em !important;
    }
}
